@import 'variables';

/* Navigation Bar */
.bar {
    font-size: $fz-xl !important;
    padding: 10px 0;
  
    position: fixed;
    overflow: hidden;
    width: 100%;
    top: 0;
    background-color: rgba(244, 241, 237, 0.9);
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    height: $bar-h-l;
    z-index: 5;
  
    box-shadow: 0 0 3px $txtCol;
  
    /* Title */
    .box1 {
      position: absolute;
      left: $bar-mg-l;
      cursor: pointer;
  
      .title {
        font-family: Arial, sans-serif;
        font-weight: bold;
        font-size: 1.5em;
      } 
      span {
        display:block;
        background: $txtCol;
        border-radius: 2px;
        height: 2px;
        width: 0%;
        transition-delay:.1s;
      }
  
      &:hover {
        .title {
          color: $txtCol3;
        } span {
          width: 100%;
        }
      }
    }
  
    /* Hamburger */
    .box2 {
      position: absolute;
      right: $bar-mg-l;
      
      width: 100%;
      max-width: $bar-h-l;
      height: $bar-h-l;
      cursor: pointer;
  
      span {
        display:block;
        background: $txtCol;
        border-radius:2px;
      }
  
      #hamburger {
        margin-top: 0.5vmin;
        position: absolute;
        height: 100%;
        width: 100%;
  
        span {
          width: 40px;
          height: 3px;
          position:relative;
          top: -2px;
          left:0;
          margin: 7px 0;
  
          &:nth-child(1){
            transition-delay:.5s;
          }
          &:nth-child(2){
            transition-delay:.625s;
          }
          &:nth-child(3){
            transition-delay:.75s;
          }
        }
      }
  
      #cross {
        position: absolute;
        height: 100%;
        width: 100%;
        transform:rotate(45deg);
  
        span{
          &:nth-child(1){
            height:0%;
            width:3px;
            position:absolute;
            top: 10%;
            left: 19px;
            transition-delay:0s;
          }
          &:nth-child(2){
            width:0%;
            height: 3px;
            position:absolute;
            left: 10%;
            top: 19px;
            transition-delay:.25s;
          }
        }
      }
      
    }

    .box2.open {
      #hamburger {
        span {
          width:0%;
          &:nth-child(1){
            transition-delay:0s;
          }
          &:nth-child(2){
            transition-delay:.125s;
          }
          &:nth-child(3){
            transition-delay:.25s;
          }
        }
      }
      #cross {
        span {
          &:nth-child(1){
            height:80%;
            transition-delay:.625s;
          }
        }
        span {
          &:nth-child(2){
            width:80%;
            transition-delay:.375s;
          }
        }    
      }
    }
}
  
/* Collapsible menu */
.collapsible {
    display: flex;
    justify-content: center;
    align-items: center start;
    position: fixed;
    top: calc( #{$bar-h-l} + 20px) ;
    right: 0;
  
    font-size: 2.2em;
    min-height: 100vh;
    max-width: 0;
    min-width: 0;
    
    background-color: $bgCol;
    box-shadow: 0 0 0 0 $bgCol;
    z-index: 3;
  
    transition: min-width 0.3s ease-in-out, box-shadow 0.5s;
    -webkit-transition: min-width 0.3s ease-in-out, box-shadow 0.5s;
    
    ul {
      padding: 0;
      color: black !important;
      list-style: none;
      text-align: left;
  
      li {
        display: flex;
        justify-content: center;
        align-items: center;

        cursor: pointer;
        margin: 0 0 4vmin 0;
        visibility: hidden;
        opacity: 0;
        transition: visibility 0s linear 300ms, opacity 100ms;
        -webkit-transition: visibility 0s linear 300ms, opacity 100ms;
  
        > span {
          cursor: pointer;
          transition: color 0.3s ease;
          -webkit-transition: color 0.3s ease;
        }
        > span:hover {
          color: rgba($color: $bgCol4, $alpha: 1);
        }
      }

      .pdf-link {
        margin-top: 50px;
        text-align: center;
        width: 80%;
        text-transform: uppercase;
        font-family: $ff-mono;
        font-size: 0.5em;
        color: inherit !important;
        text-decoration: none;
        background-color: rgba($color: $bgCol4, $alpha: 0.4);
        padding: 10px;
        border: 1px solid $txtCol;
        border-radius: 10px;
        transition: background-color 0.3s ease-in-out;
      } .pdf-link:hover {
        background-color: rgba($color: $bgCol4, $alpha: 1);
      }

      .social.links {
        margin: 5px !important;
        justify-content: space-between !important;
        width: 80%;
      
        a {
          margin-right: 0 !important;
          font-size: 0.7em;
          display: grid;
          place-items: center !important;
          transition: color 0.001s ease;
        } a:hover {
          color: rgba($color: $bgCol4, $alpha: 1) !important;
        }
      }
    }
}
.collapsible.open {
    min-width: $collapse-lg;
    box-shadow: 0px 0px 80px 100px $bgCol;
  
    ul {
      li {
        visibility: visible;
        opacity: 1;
        transition: visibility 0s linear 0s, opacity 500ms;
        -webkit-transition: visibility 0s linear 0s, opacity 500ms;
        
        &:nth-child(1){
          transition-delay: .20s;
        }&:nth-child(2){
          transition-delay: .30s;
        }&:nth-child(3){
          transition-delay: .40s;
        }&:nth-child(4), &:nth-child(5){
          transition-delay: .50s;
        }
      }
    }
}