@import 'variables';

.section.projects {
    background-color: rgba($color: $bgCol4, $alpha: 0.5);
}
.section.projects > div {
    background-color: $bgCol;
    clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 100%);
  
    .projects-all {
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
  
        [block] {
            width: $proj-w-lg;
            max-width: 600px;
            min-height: 500px;
            max-height: 500px;
            margin: 30px 0 5vh 0;
            display: grid;
            grid-template-columns: 50% 50%;
            overflow: hidden !important;

            box-shadow: 0 8px 20px 0 rgba( 31, 38, 135, 0.37 );
            border-radius: 0 25px 25px 0;
            //border-radius: 25px;

            .cropped-img {
                height: 100%;
                object-fit: cover;
            }

            .txt {
                color: black;
                text-align: right;
                background: rgba( 255, 255, 255, 0.30 );

                border-radius: 30px;
                box-shadow: -40px 10px 40px 0 rgba( 31, 38, 135, 0.15 );
                backdrop-filter: blur( 15.0px );
                -webkit-backdrop-filter: blur( 15.0px );
      
                font-size: 0.9em;
                width: 100%;
                line-height: 1.7;

                display: flex;
                align-items: center;
                justify-content: center;
            
                > div {
                    width: 85%;
                    height: 80%;
                }

                .project-title {
                    h4 {
                        margin: 0.5em 0;
                        font-size: 1.3em;
                    }
                    span {
                        margin: 0 10px;
                        display: block;
                        border-radius: 5px;
                        height: 1px;
                        width: 90%;
                    }
                }

                p {
                    white-space: pre-wrap;
                    font-weight: 300;
                }
                ul {
                    list-style-type: none;
                    margin-top: 20px;
                    padding: 0;
                    overflow: hidden;
                    font-family: $ff-mono;
                } li {
                    letter-spacing: -1px;
                    margin-left: 20px;
                    float: right;
                }

                .link-list {
                    a {
                        font-size: 1.2em;
                    }
                }
            }
        }
    }
}

[block="red"] {
    .txt {
        .project-title {
            span {
                background: $bgCol2;
            }
        }
        .link-list {
            a {
                color: $bgCol2!important; 
            }
        }
    }
}
[block="yellow"] {
    .txt {
        .project-title {
            span {
                background: $bgCol2;
            }
        }
        .link-list {
            a {
                color: $bgCol2 !important; 
            }
        }
    }
}