@import 'variables';

.section.projects {
    //background-color: rgba($color: $bgCol4, $alpha: 0.5);
}
.section.projects > div {
    background-color: $bgCol;
    //clip-path: polygon(0 0, 100% 0, 100% 97%, 0% 100%);
  
    .projects-all {
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
  
        [block] {
            width: $proj-w-lg;
            margin: 30px 0 10vh 0;
            display: grid;
            grid-template-columns: 60% 40%;

            .cropped-img {
                margin: auto;
                width: 100%;
            }

            .txt {
                width: 100%;
                padding: 15px 0;
                color: black;
                text-align: right;
                background: rgba( 255, 255, 255, 0.30 );
                backdrop-filter: blur( 15.0px );
                box-shadow: 0PX 10px 40px 0 rgba( 31, 38, 135, 0.15 );
                -webkit-backdrop-filter: blur( 15.0px );
                border-radius: 15px;
      
                font-size: 0.9em;
                line-height: 1.7;

                display: flex;
                align-items: center;
                justify-content: center;
            
                > div {
                    width: 85%;
                }

                .project-title {
                    h4 {
                        margin: 0.8em 0;
                        font-size: 1.3em;
                    }
                    span {
                        display: block;
                        border-radius: 5px;
                        height: 1px;
                        width: 90%;
                    }
                }

                p {
                    white-space: pre-wrap;
                    font-weight: 300;
                }
                ul {
                    list-style-type: none;
                    margin-top: 20px;
                    padding: 0;
                    overflow: hidden;
                    font-family: $ff-mono;
                    font-weight: 400;
                } li {
                    letter-spacing: -1px;
                    margin-left: 20px;
                    float: right;
                }

                .link-list {
                    a {
                        font-size: 1.4em;
                    }
                }
            }
        }
    }
}

[block="red"] {
    .txt {
        .project-title {
            span {
                background: $bgCol2;
            }
        }
        .link-list {
            a {
                color: $bgCol2!important; 
            }
        }
    }
}
[block="yellow"] {
    .txt {
        .project-title {
            span {
                background: $bgCol2;
            }
        }
        .link-list {
            a {
                color: $bgCol2 !important; 
            }
        }
    }
}