$barHeight: 60px;
$marginTB: 70px;
$marginLR: 10vw;

$bgCol: #f4f1ed;
$bgCol2: #cc9a8f;
$bgCol4: #d7ddd7;

$txtCol: #363636;
$txtCol2: black;
$txtCol3: white;


/* variables for bar */
$bar-h-sm: 6.5vw;
$bar-h-l: 40px;

$bar-mg-sm: 3vw;
$bar-mg-l: 20px;

$collapse-sm: 70%;
$collapse-md: 60%;
$collapse-lg: 40%;

$mg-sm: 10vw;
$mg-l: 15vw;

$ff-mono: 'Roboto Mono', monospace;

/* variables for font-size*/
$fz-xxs: 11px;
$fz-xs: 12px;
$fz-sm: 13px;
$fz-md: 14px;
$fz-lg: 15px;
$fz-xl: 17px;
$fz-xxl: 17px;

$name-fz-lg: 4.4em;
$name-fz-sm: 10vw;

/* variables for projects */
$proj-w-sm: 90%;
$proj-w-md: 80%;
$proj-w-lg: 80%;
